@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  font-family: 'DM Sans';
}

@layer base {
  body {
    @apply dark:bg-slate-900;
  }

  /* ... */
}
